html {
  box-sizing: border-box;
  font: Georgia 100%/1.5 serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .2rem;
  display: block;
  font-size: 1rem;

}

dt {
  display: inline-block;
  width: 43%;
}

dd {
  display: inline-block;
  width: 43%;
  font-style: italic;
}

body {
  background-color: #f0eee8;
}

.break {
  display: block;
  background-color: : #512200;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
}

main {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 3px;
}

.link-card {
  margin: 0 0 1rem;
  padding: .4em .75em .3em;
  display: inline-block;
  text-decoration: none;
  color: #512200;
}

.link-card:hover{
background-color: #cabdb2;
}

small {
  padding-left: 30%;
  background-color: #785439;
  padding:.4em .75em .5em;
  border-radius: 8px;
  display: block;
  color: #f0eee8;
  font-size: 1.125rem;
  font-family: "Dosis", sans-serif;
}

dl {
  border-top: 2px;
  border-bottom: 2px;
}
